.book-another-appointment {
  background-color: rgb(10, 73, 60);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  width: fit-content;
  margin: 0 auto;
}
.card {
  top: 100%;
  background-color: rgb(207, 214, 216);
}
