<div class="container">
  <div class="row">
    <div class="col-md-3 offset-sm-6 col-sm-12">
      <br /><br />
      <button (click)="d.toggle()" class="date">
        Click to select available date
      </button>

      <div class="form-group">
        <input
          type="text"
          placeholder="..."
          class="form-control"
          ngbDatepicker
          #d="ngbDatepicker"
        />
      </div>
      <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
      <div class="form-group">
        <label for="formGroupExampleInput">Full name</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Email</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Phone number</label>
        <input type="text" class="form-control" />
      </div>
      <button>Submit</button>
    </div>
  </div>
</div>
