<div class="container">
  <div class="row">
    <div class="col-md-3 offset-sm-6 col-sm-12">
      <br /><br />
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div (click)="d.toggle()" class="date">
          Click to select available date
        </div>

        <div class="form-group">
          <input
            type="text"
            name="date"
            placeholder="..."
            class="form-control"
            ngbDatepicker
            #d="ngbDatepicker"
            ngModel
            (ngModelChange)="filterTime(f)"
            [markDisabled]="isDisabled"
            [minDate]="fullDate"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select time</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            name="time"
            ngModel
            required
          >
            <option *ngFor="let item of filteredOptions" [value]="item.value">{{
              item.text
            }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Full name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            email
            ngModel
            required
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput">Phone number</label>
          <input
            type="text"
            class="form-control"
            name="phone"
            ngModel
            required
          />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
