.go-back-to-home-page {
  background-color: rgb(10, 73, 60);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  width: fit-content;
}

.card {
  top: 100%;
  padding: 20px;
}
