.go-back-to-home-page {
  background-color: rgb(10, 73, 60);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  width: fit-content;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
