<div class="container">
  <nav class="navbar navbar-light bg-light">
    <form #f="ngForm" class="mr-auto">
      <input
        class="form-control mr-sm-2 search"
        type="search"
        placeholder="Search by name..."
        aria-label="Search"
        name="search"
        ngModel
        (ngModelChange)="handleSearch(f)"
      />
    </form>
    <button class="sign-out" (click)="signOut()" class="btn sign-out">
      Sign out
    </button>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <br />
      <br />

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="th">Name</th>
            <th scope="col" class="th">Email</th>
            <th scope="col" class="th">Phone</th>
            <th scope="col" class="th">Date</th>
            <th scope="col" class="th">Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of filteredAppointments">
            <td>{{ appointment.name }}</td>
            <td>{{ appointment.email }}</td>
            <td>{{ appointment.phone }}</td>
            <td>
              {{
                appointment.date.month +
                  "/" +
                  appointment.date.day +
                  "/" +
                  appointment.date.year
              }}
            </td>
            <td>{{ appointment.time + ":" + "00" }}</td>
            <td>
              <button
                (click)="deleteAppointment(appointment._id)"
                class="btn delete"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <br />
    </div>
  </div>
</div>
