<div class="container">
  <div class="row">
    <div class="col-md-4 offset-sm-4 col-sm-12">
      <br /><br /><br /><br />

      <div class="card text-center">
        <div><span>Name:</span> {{ appointment.name }}</div>
        <div>
          <span> Date:</span>

          {{
            appointment.date.month +
              "/" +
              appointment.date.day +
              "/" +
              appointment.date.year
          }}
        </div>
        <div><span>Time:</span> {{ appointment.time + ":00" }}</div>
        <div><span>Email:</span> {{ appointment.email }}</div>
        <div><span>Phone:</span> {{ appointment.phone }}</div>
        <br />
        <button (click)="deleteAppointment()" class="btn delete">
          Cancel appointment
        </button>
      </div>
      <br />
    </div>
  </div>
</div>
